
main{
    text-align: center;
    padding-top: 60px;
    
}


img{
    width: 500px;
    transition:  0.7s ;
}
img:hover{
    transform: scale(130%) ;
    border-radius: 10px;
    transition:  1s ;
   
}
.cont {
    width: 1010px;
    margin: 20px auto;
    display: flex;
    
}
h1{
    color: rgb(14, 42, 85);
    text-decoration: underline;
    font-weight: 600;
    margin-bottom: 50px;
}
.cardi{
padding: 0 2px;
}

@media (max-width:1500px)and (min-width:1000px) {
    .cont{
        display: block;
        /* margin: 20px 0; */
        }
        .cardi{
            padding:  2px 0;
            }
       
}
@media (max-width:1000px) {
    .cont{
        width: 350px;
        display: block;
        /* margin: 20px 0; */
    }
    
    img{
        width: 300px;
    }
    .cardi{
        padding:  2px 0;
        }
}
